*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;



}
.nav-container{
   position: relative;

}
.toggle-btn{
    position: absolute;
    right: 10px;
}

.nav-underline:active{
    color: blue;
}
.openpage{
    display: block;
}
.footerbox{
    position:relative;
    left:300px;
    bottom: 300px;
    text-align: center;
}


@media screen and (max-width:768px) {

    .navlink{
        margin-left: -120px;
        letter-spacing: 1px;
        margin-top: 40px;
        font-size:large;
       
    
    

    }
    .location-icon {
    position: absolute;
   top: 120px;
   left: 80px;
    
}
.nav1-container{ 
    width: 80dvh;
    margin-left: -105px;
    place-items: center;
    
}
.logo{
    margin-top: 10px;
    margin-left: -20px;
}
.container{
    position: relative;
}
.footerbox{
    position:absolute;

    left:250px;
   top:50px;
    text-align: center;
}
.footerbox form{
    flex-direction: column;
}
        
}

