
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e3e9e8;
    font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  user-select: none;
  } 

 
  